:root {
  --rc-max-width-content: 60rem;

  --background-body: #f3f3f3;
  --background: #f9f9f9;
  --background-soft: rgba(249, 249, 249, 0.9);
  --background-alt: #f7f7f7;
  --selection: #9e9e9e;
  --text-main: #363636;
  --text-bright: #090b0e;
  --text-muted: rgba(0, 0, 0, 0.72);
  --text-muted-soft: rgba(0, 0, 0, 0.6);
  --links: #95520b;
  --links-hover: #95520b56;
  --focus: #0096bfab;
  --border: #cfcfcf;
  --code: #212123;
  --animation-duration: 0.1s;
  --button-base: #d0cfcf;
  --button-hover: #9b9b9b;
  --scrollbar-thumb: color-mod(var(--button-hover) lightness(+6%));
  --scrollbar-thumb-hover: var(--button-hover);
  --form-placeholder: #949494;
  --form-text: #1d1d1d;
  --variable: #39a33c;
  --highlight: #ff0;
  --color-shadow-1: #e5e5e6;
  --select-arrow: svg-load(
    '../shared/assets/images/selectArrow.svg',
    fill: #161f27
  );
  --brand: #95520b;
  --brand-soft: #95520b56;
}

.dark-theme {
  --background-body: #1a1a1d;
  --background: #1f1f22;
  --background-soft: rgba(31, 31, 34, 0.9);
  --background-alt: #1a242f;
  --selection: #1c76c5;
  --text-main: #dbdbdb;
  --text-bright: #f6f6f6;
  --text-muted: #a9b1ba;
  --text-muted: rgba(255, 255, 255, 0.72);
  --text-muted-soft: rgba(255, 255, 255, 0.6);
  --links: #db8a19;
  --links-hover: #db8a1956;
  --focus: #0096bfab;
  --border: #272a31;
  --code: #ffbe85;
  --animation-duration: 0.1s;
  --button-base: #0c151c;
  --button-hover: #040a0f;
  --scrollbar-thumb: var(--button-hover);
  --scrollbar-thumb-hover: color-mod(var(--scrollbar-thumb) lightness(-30%));
  --form-placeholder: #a9a9a9;
  --form-text: #fff;
  --variable: #d941e2;
  --highlight: #efdb43;
  --color-shadow-1: #0c0e12;
  --select-arrow: svg-load(
    '../shared/assets/images/selectArrow.svg',
    fill: #efefef
  );
  --brand: #db8a19;
  --brand-soft: #db8a1956;
}
