:root {
  --rc-max-width-content: 60rem;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-light50: #f6f6f6;
  --color-light100: #eaeaea;
  --color-light200: #cfcfcf;
  --color-dark0: #090b0e;
  --color-dark50: #13171d;
  --color-dark100: #0c0f13;
  --color-dark200: #272a31;
  --color-gray50: #f5f6fc;
  --color-gray100: #e8ecfb;
  --color-gray150: #d8dae1;
  --color-gray200: #b8c0dc;
  --color-gray250: #a6afca;
  --color-gray300: #98a1c0;
  --color-gray350: #888fab;
  --color-gray400: #7780a0;
  --color-gray450: #6b7594;
  --color-gray500: #5d6785;
  --color-gray550: #505a78;
  --color-gray600: #404a67;
  --color-gray650: #333d59;
  --color-gray700: #293249;
  --color-gray750: #1b1d23;
  --color-gray800: #131a2a;
  --color-gray850: #0e1524;
  --color-gray900: #0d111c;
  --color-gray950: #080b11;
  --blue50: '#EDEFF8';
  --blue100: '#DEE1FF';
  --blue200: '#ADBCFF';
  --blue300: '#869EFF';
  --blue400: '#4C82FB';
  --blue500: '#1267D6';
  --blue600: '#1D4294';
  --blue700: '#09265E';
  --blue800: '#0B193F';
  --blue900: '#040E34';

  --rc-color-background-1: #eaeaea;
  --rc-color-background-2: rgba(255, 255, 255);
  --rc-color-background-2-transparent: rgba(255, 255, 255, 0.9);
  --rc-color-background-surface: rgba(255, 255, 255, 0.372);
  --rc-color-text-1: var(--color-gray950);
  --rc-color-text-2: var(--color-gray600);
  --rc-color-text-3: var(--color-green700);
  --rc-color-text-4: var(--color-gray600);
  --rc-color-text-4-hover: var(--color-gray400);
  --rc-color-secondary: rgba(0, 0, 0, 0.7);

  --rc-color-shadow-1: #dddfe4;
  --rc-color-border-1: var(--color-gray200);
  --rc-color-border-2: var(--color-light100);
  --rc-color-border-3: var(--color-light200);

  --rc-color-link-1: #1d4294;
  --rc-color-link-1-hover: #1267d69b;

  --rc-color-button-text-1: var(--color-green800);
  --rc-color-button-text-1-hover: var(--color-green600);
  --rc-color-button-text-2: #7acc97;
  --rc-color-button-text-2-hover: #499f67;

  --rc-color-button-background-1: #c6cce2;
  --rc-color-button-background-1-hover: #7a8fda;
  --rc-color-button-background-2: var(--color-green400);
  --rc-color-button-background-2-hover: var(--color-green400-transparent);
  --rc-color-button-background-3: #e0f3e4;
  --rc-color-button-background-3-hover: #aad7b4;
}

.dark-theme {
  --rc-color-background-1: #090a0c;
  --rc-color-background-2: #1a1a1d;
  --rc-color-background-2-transparent: rgba(26, 26, 29, 0.9);
  --rc-color-background-surface: rgba(9, 10, 12, 0.715);

  --rc-color-text-1: var(--color-white);
  --rc-color-text-2: var(--color-gray600);
  --rc-color-text-3: var(--color-green500);
  --rc-color-text-4: var(--color-gray400);
  --rc-color-text-4-hover: var(--color-gray200);
  --rc-color-secondary: rgba(255, 255, 255, 0.6);

  --rc-color-shadow-1: #0c0e12;
  --rc-color-border-1: var(--color-gray200);
  --rc-color-border-2: var(--color-dark100);
  --rc-color-border-3: var(--color-dark200);

  --rc-color-link-1: #869eff;
  --rc-color-link-1-hover: #adbcffa7;

  --rc-color-button-text-1: var(--color-green500);
  --rc-color-button-text-1-hover: var(--color-green300);
  --rc-color-button-text-2: #2a7d48;
  --rc-color-button-text-2-hover: #3da061;

  --rc-color-button-background-1: #25262a;
  --rc-color-button-background-1-hover: #7a8fda;
  --rc-color-button-background-2: var(--color-green400);
  --rc-color-button-background-2-hover: var(--color-green400-transparent);
  --rc-color-button-background-3: #182d21;
  --rc-color-button-background-3-hover: #2b4f3b;
}
