.post-details-container {
  cursor: pointer;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.9rem;
  box-shadow: 0 0 0.3rem var(--shadow-color);
  background-color: var(--bg-color-1);
}

.post-details-container:hover {
  box-shadow: 0 0 1.4rem var(--shadow-color);
  border-color: var(--brand-color);
}

.post-details__title {
  font-size: 1.1em;
  margin: 0 0 0.5rem;
}

.post-details-container:hover .post-details__title {
  text-decoration: underline;
}

.post-details__description {
  margin: 0 0 0;
}

.post-details__info {
  margin-top: 0.7rem;
  font-size: 0.6em;
  opacity: 0.7;
}

.post-details__info__item {
  display: flex;
  align-items: center;
}

.post-details__icon {
  margin-right: 0.5em;
}
