@import './styles/normalize.css';
@import './styles/vars.css';

@font-face {
  font-family: 'ArgosGeorge';
  src: local('ArgosGeorge'),
    url('../shared/assets/fonts/ArgosGeorge.ttf') format('truetype');
}

@font-face {
  font-family: 'Old-Soviet';
  src: local('Old-Soviet'),
    url('../shared/assets/fonts/Old-Soviet.otf') format('opentype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-variant: none;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: Old-Soviet;
  letter-spacing: 0.08rem;
  line-height: 1.8rem;
  background-color: var(--rc-color-background-1);
  color: var(--rc-color-text-1);
  scrollbar-width: thin;
  scrollbar-color: var(--rc-color-border-3);
}

body::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--rc-color-border-3);
  border-radius: 8px;
}

input,
textarea {
  cursor: text;
}

label,
button,
select {
  cursor: pointer;
}

input,
textarea,
label,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: var(--rc-color-link-1);
  transition: 120ms;
}

a:hover,
a:focus {
  color: var(--rc-color-link-1-hover);
}

blockquote {
  position: relative;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 30px;
  margin-inline-end: 40px;
  font-style: oblique;
  color: var(--rc-color-secondary);
}

blockquote::before,
blockquote::after {
  position: absolute;
  font-size: 38px;
}

blockquote::before {
  content: '\201C';
  left: -0.8em;
  top: -0.2em;
}

blockquote::after {
  content: '\201D';
  right: -0.7em;
  bottom: -0.4em;
}
