@import './styles/vars.css';

@font-face {
  font-family: 'ArgosGeorge';
  src: local('ArgosGeorge'), url('../shared/assets/fonts/ArgosGeorge.ttf') format('truetype');
}

@font-face {
  font-family: 'Old-Soviet';
  src: local('Old-Soviet'), url('../shared/assets/fonts/Old-Soviet.otf') format('opentype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  font-family: Old-Soviet;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
  line-height: 1.8rem;
  box-shadow: inset 0 0 0.5rem var(--rc-color-shadow-1);
  background-color: var(--rc-color-background-1);
  background: var(--rc-gradient-background);
  color: var(--rc-color-text-1);
}

input,
textarea {
  cursor: text;
}

label,
button,
select {
  cursor: pointer;
}

input,
textarea,
label,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  text-decoration: none;
  color: var(--rc-color-link-1);
  transition: 0.1s;
}

a:hover,
a:focus {
  color: var(--rc-color-link-1-hover);
}

@keyframes snowfall {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 110vh, 0);
  }
}
